:root{
    --main-color:#0096c7;
}

.navbar{
    background-color: var(--main-color);
}

main{
    margin-top:4.5rem;
}

.card{
    box-shadow: 1px 0.6px 2px #dee2e6;
}

.card img{
    padding: 10px;
    height: 225px;
}


#heading {
    width: 98%;
    background-color: #e9ecef;
    padding: 16px;
    margin: 10px auto;
    border-radius: 10px;
  }


.navbar-brand {
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.1em;
}

.fa-shopping-basket{
    font-size: 1.6rem;
    margin-right: 8px;
}
