*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




#container{
    border:1px solid black;
    width: 360px;
    margin:50px auto;
}

.completed{
    text-decoration: line-through;
    color:gray;
}

#plus{
    float: right;
    margin-right:20px;
}

h1{
    padding: 10px 5px;
    background-color: #0096c7;
    color:white;
}

ul{
    list-style: none;
}

#inp{
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 4px;
}

li{
    font-size: 20px;
    margin:10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(104,104,104);
    cursor: pointer;
}

i{
    margin-right: 10px;
   
}

input:focus{
    outline: none;
}

li:nth-of-type(2n+1){
    background-color: #9bf6ff;
}
li:nth-of-type(2n+2){
    background-color: #ffb703;
}