section{
    border:1px solid #ccc;
    width: 70vw;
    margin: 40px auto;
    padding: 16px;
    background-color: cornflowerblue;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-weight: 400; */
    /* font-style: italic; */
    /* line-height: 1.5; */
    letter-spacing: 0.02em;

    /* Shorthand Notation */
    /* font: italic small-caps 400 16px/1.1 'Roboto', sans-serif; */
}

p{
    font-size: 16px;
    font-weight: lighter;
}

h1{
    text-align: center;
    font-size: 40px;
    color:white;
    /* text-shadow: 5px 5px 1px red,9px 9px 1px purple; */
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}