<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 


<main class="container">

    <div class="row">
        <div class="col-md-6 mx-auto">
            <%- include("../partials/flash") %> 
            <h1 class="display-6">Login</h1>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>
               

                <button type="submit" class="btn btn-success btn-small">Login</button>
            </form>

        </div>
    </div>




</main>



<%- include("../partials/footer") %> 