h1{
    border:2px solid black;
    background-color: aqua;
    display: inline;
    width: 200px;
    height: 400px;
    /* margin:40px;
    padding: 20px; */

}

span{
    border:1px solid black;
    background-color: palevioletred;
    display: block;
    width: 400px;
    height: 50px;
    margin:40px;
    padding: 40px;
}

div{
    border:2px solid black;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 30px;
}

div:nth-of-type(2){
    /* display: none; */
    visibility: hidden;
}