*{
    padding: 0;
    margin: 0;
}

.container{
    width: 40vw;
    margin:40px auto;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#screen{
    display: block;
    font-size: 45px;
    margin: 10px auto;
}

table{
    border:10px solid #ccc;
    margin: 10px auto;
    width: 80%;
}

td{
    height: 60px;
    width: 70px;
    border: 2px solid gray;
    border-radius: 10px;
    transition: 100ms;
    box-shadow: 1px 0px 3px rgb(104,104,104);
}

button{
    font-size: 35px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

td:active{
    transform: scale(0.8);
}