<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Comment</h1>

    <form action="/comments/<%=foundComment.id%>?_method=PATCH" method="POST">
        <fieldset>
            <label for="comment">Comment</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="3"><%=foundComment.comment%></textarea>
            <br>
            <button type="submit">Save</button>
        </fieldset>
    </form>

    
</body>
</html>