<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">


</head>
<body>

    <section>
        <a href="/comments">All Comments</a>
        
        <h1>Show Page</h1>

        <h4>Id : <%=foundComment.id%></h4>
        <p><strong> Username :</strong><%=foundComment.username%> </p>
        <p>Comment :  <%=foundComment.comment  %></p>
    </section>
</body>
</html>