div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}


div:nth-of-type(1){
    /* background-color: #cc1102; */
    background-color: #74c69d;
}

div:nth-of-type(2){
    background-color: rgb(30,20,200);
}


div:nth-of-type(3){
    background-color: rgba(180,10,20,0.5);
}

