*{
    margin:0;
    padding:0;
}


#container{
    width: 75vw;
    margin: 30px auto;

    display: grid;
    /* grid-template-columns: 250px 250px 250px; */
    /* grid-template-columns: repeat(2,250px); */
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 20px;
    row-gap:20px; */
    gap:20px;
    grid-auto-rows: 200px;
    /* grid-auto-columns: minmax(250px,auto); */
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
}


nav{
    background-color: #343a40;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color:white;
    font-size: 1.4rem;
}

li i{
    color:white;
    font-size: 1.9rem;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 70px;
}

nav ul li{
    padding: 16px;
}

#container div img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: 100ms;
}
#container div{
    border-radius: 15px;
    position: relative;
}

#container div img:hover{
    cursor: pointer;
    filter: grayscale(100%);
    opacity: 0.35;
}

div i{
    position: absolute;
    top:45%;
    left:45%;
    transform: scale(0);
    transition: 510ms;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

#container div:hover i{
    transform: scale(2.5);
}

article{
    width: 75vw;
    margin:30px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dee2e6;
    padding: 16px 5px;
    border-radius: 10px;
}




