/* Decendent combinator */

article p strong{
    color:red;
}

ul a{
    color:green;
}


/* Child Combinator */

ul > li{
   border-top:2px solid orange; 
}

/* Adjacent selector */

h4 + p{
    color:blue;
}

/* General Sibling Combinator */

h2 ~ p{
    color:palevioletred
}