body{
    /* background-color: lightblue; */
}

h1{
    text-align: center;
}

ul{
    list-style: none;
    font-size: 1.5rem;
   
}

li{
    border: 1px solid #ccc;
    padding: 16px;
    margin: 10px auto;
    box-shadow: 0px 0px 2px rgb(104,104,104);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

section{
    width: 500px;
    margin: 30px auto;
    padding: 16px;
    border: 1px solid #ccc;
}