p{

    /* Dimentions - Height and Width */

    width: 400px;
    /* height: 400px; */


    /* Border */

    border:2px solid green;


    /* Margin */

    /* margin:50px; */
    /* margin: 10px 30px 40px 50px; */
    /* margin:30px 40px; */
    /* margin:40px auto; */

    margin-top: 30px;
    margin-bottom: 40px;
    margin-left:20px;
    margin-right: 70px;


    /* Padding */

    /* padding: 30px;
    padding: 20px 30px 40px 50px; */

    padding-left: 60px;


}