
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    height: 100px;
    width: 100px;
    border-top:10px solid palevioletred;
    border-right: 10px solid lightgreen;
    border-bottom: 10px solid lightsalmon;
    border-left: 10px solid lightskyblue;
    border-radius: 50%;
    animation: 500ms linear infinite loading;
}

@keyframes loading {
    100%{
        transform: rotateZ(360deg);
    }
}