section{
    width: 450px;
    height: 280px;
    margin:30px auto;
    position: relative;
    perspective: 800px;
}

div{
    width:100%;
    height: 100%;
}


.side-a,.side-b{
    position: absolute;
    backface-visibility: hidden;
}

.side-a{
    background-color: #2a9d8f;
    z-index: 1;
}

.side-b{
    background-color: #f4a261;
    z-index: 0;
    transform: rotateY(180deg);
    /* padding: 16px; */
    
}

.side-b h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffe8d6;
}

.side-a img{
    height: 100%;
    width: 100%;
}

.wrapper{
    transition: 2s;
    transform-style: preserve-3d;
  
}

.wrapper:hover{
    transform:rotateY(180deg);
    cursor:pointer;
}