<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<h1>This is a EJS Template</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ullam tempore repudiandae reiciendis esse, quibusdam similique sit aliquam? Vitae, debitis. Commodi aliquam sapiente ad sint, autem minima a quibusdam quidem.</p>
    
<img width="200px" src="/images/picture.jpg" alt="">

<%- include("./partials/footer") %>