<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Product</h1>

    <form action="/products/<%=product._id%>?_method=PATCH" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Name" value="<%= product.name %> ">
        </div>
      
        <br>
        <div>
            <label for="price">Price : </label>
            <input type="text" name="price" id="price" placeholder="Price" value="<%= product.price %> ">
        </div>
        <br>
        <div>
            <label for="desc">Description : </label>
            <br>
            <br>
            <textarea name="desc" id="desc" cols="30" rows="3"><%= product.desc %> </textarea>
        </div>
        <button type="submit">Save</button>
    </form>


    
</body>
</html>