<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Add Product</h1>

    <form action="/products" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Name">
        </div>
      
        <br>
        <div>
            <label for="price">Price : </label>
            <input type="number" name="price" id="price" placeholder="Price">
        </div>
        <br>
        <div>
            <label for="desc">Description : </label>
            <br>
            <br>
            <textarea name="desc" id="desc" cols="30" rows="3"></textarea>
        </div>
        <button type="submit">Add Product</button>
    </form>


    
</body>
</html>