<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        section{
            border: 10px solid lightgray;
            padding: 16px;
            margin: 40px auto;
            width: 60vw;
        }
    </style>


</head>
<body>

    <section>
        <p>id : <strong><%= product._id %> </strong></p>
        <h2>Product : <%=product.name%></h2>
        <p>Price: $ <%= product.price %> </p>
        <p><%= product.desc %> </p>
    </section>
    

    
</body>
</html>