.nav{
    background-color: rgb(107, 10, 10);
    position: fixed;
    z-index: 10;
    width: 100%;
    top:0px
}

.nav a{
    color:white;
    text-decoration: none;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.9rem;
}

.nav ul li{
    padding: 10px 4px;
    font-weight: bold;
}

.nav ul li:nth-of-type(1){
    padding: 10px 4px;
    font-weight: bold;
    margin-left: 8rem;
}

.nav ul li:last-of-type{

    margin-right: 8rem;
}

@media screen and (max-width:980px){
    .nav ul{
        justify-content: space-between;
    }
    .nav ul li:nth-of-type(1){
        margin-left: 1rem;
    }
    .nav ul li:last-of-type{
        margin-right: 1rem;
    }
}