:root{
    --main-color:#0096c7;
}

.navbar{
    background-color: var(--main-color);
}

main{
    margin-top:4.5rem;
}

.card{
    box-shadow: 1px 0.5px 2px #dee2e6;
}

.card img{
    padding: 10px;
    height: 225px;
}
