<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 


<div class="container mt-5">
   
    <div class="mt-5">
        <%- include("./partials/flash") %> 
    
    </div>
   
    <h1 class="display-3 mt-5">Error Page</h1>

</div>

   

<%- include('./partials/footer') %> 