.heading{
    border:3px solid black;
    background-color: lightgreen;
    color:purple;
    text-shadow: 1px 2px 3px rgb(104,104,104);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.two{
    font-weight: 700;
    padding: 16px;
    margin:5px;
    border-radius: 10px;
}

#list{
    border:2px solid #ccc;
    padding: 16px;
}

.hide{
    display: none;
}