.cart{
    width: 60%;
    background-color: white;
    margin: 100px auto;
    list-style: none;
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.26);
    
}

.cart li{
    margin-bottom:15px ;
    border-bottom: 0.05px solid gray;
}

.item-name{
    font-weight: bold;
    margin-bottom: 5px;
}

.item-price{
    color:rgb(131, 46, 46);
    font-weight: bold;
    margin-bottom: 5px;
}
.item-desc{
    margin-bottom: 5px;
}

.item-qty{
    margin-bottom: 5px;
    font-weight: normal;
}

.cart li:first-child{
    border-bottom:none ;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(129, 39, 39);
}

.cart li:last-child{
    border-bottom:none ;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(129, 39, 39);
}

.cart li button{
    font-size: 1.3rem;
    padding: 0.1rem 1.3rem;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    border:none;
    border:1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.place-order-btn button{
    float: right;
    color:white;
    background: none;
    background-color:rgb(129, 39, 39);
}