h1{
    text-align: center;
}

section{
    width: 1200px;
    border:1px solid #ccc;
    padding: 16px;
}

div{
    width: 60px;
    height: 60px;
    background-color: aqua;
    border:2px solid black;
    margin:10px;
    transition: all 2s;
}

section:hover div{
    margin-left: 900px;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
}

div:nth-of-type(2){
    transition-timing-function: ease-out;
}

div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.98, 0.21, 0.35, 1.02);
}

div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
}
