h1{
    text-align: center;
    font-size: 50px;
    /* border-width: 5px;
    border-style: solid;
    border-color: red; */

    /* border:5px solid red; */

    border-left:5px solid blue;
    border-top:5px solid palevioletred;
    border-right: 5px solid palegreen;
    border-bottom: 5px solid palegoldenrod;

    /* border-radius: 15px; */
    border-radius: 15px 50px;



}

div{
    height: 200px;
    width: 400px;
    border:2px solid black;
    background-color: lightseagreen;
    border-radius: 50%;
}